# Ambiente virtual
.venv/
venv/
env/

# Arquivos de sistema
__pycache__/
*.py[cod]
*.so
*.log

# Configs de IDE
.vscode/
.idea/

# Arquivos de ambiente
.env
.env.*

# Banco de dados local (se usar SQLite)
*.sqlite3
*.db

# Cache do pip
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Arquivos temporários
*.bak
*.swp
.DS_Store
Thumbs.db

# Insomnia export
insomnia.json
